*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #dadada;
}
.logo{
    background-color: rgba(17, 17, 17, 1);
}
.card {
    margin-bottom: 10px;
}
.card {
    flex-direction: column;
    min-width: 1;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}
.product__describe span{
    padding: 5px;
    margin: 0px;
    display: block;
}
.product__describe-heading {
    font-weight: 500;
    font-size: 30px;
    padding: 6px;
    border-left: 6px solid orange;
    background-color: rgb(230, 224, 216);
}
.name__product {
    font-size: 20px;
    text-transform: uppercase;
    padding: 6px;
    margin: 10px;
}
.col-12 p {
    font-size: 16px;
    padding: 6px;
    margin: 5px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  .purchase-info input{
    width: 60px;
}
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  a {
    text-decoration: none !important;
    color: inherit
}

a:hover {
    color: #455A64
}

.card {
    border-radius: 5px;
    background-color: #fff;
    padding-bottom: 20px
}

.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBC02D;
    color: #fff
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

td {
    padding-bottom: 10px
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.blue-text {
    color: #0091EA
}

.content {
    font-size: 18px
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px
}

.pic {
    width: 80px;
    height: 80px;
    margin-right: 10px
}

.vote {
    cursor: pointer
}
input[type=text]:focus {
    border: 3px solid #555;
}
label {
    position: relative;
    display: inline-block;
}
input, textarea{
    display: inline-block;
}
legend {
    border: 2px solid red;
    border-radius: 4px;
  }
.btn-comment {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
}
  .checked {
    color: orange;
  }
  .comment-img {
    width:50px;
    height:50px;
    border: 1px solid #ddd;
    border-radius:50%;
  }
.col-lg-8 col-12{
    background-color: #eee;
}

.stared{
    color: rgb(219, 168, 27);
}
.col-item .rating i{     
    float: left;    
    font-size: 17px;  
    height: 52px;
}
.col-item .rating {  
    font-size: 14px; 
    font-style: italic; 
}
.mt-5{
    color: #ee4d2d;
}
.list-unstyled{
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(239, 239, 247, 0.986);
}
.comment{
    border: #0091EA 2px solid;
}
/* stars */
div.stars {
    float: left;
    margin-left: 20px;
    
}
input.star { 
    display: none; 
}
label.star {
    float: right;
    font-size: 20px;
    padding: 5px;
    transition: all .2s;
    cursor: pointer;
}
input.star:checked ~ label.star:before {
    content: '\f005';
    color: rgb(255, 168, 27);;
    transition: all .25s;
}
/* label.star::before{ 
    background: rgba(255, 139, 24, 0.6);
} */
input.star-1:checked ~ label.star:before { color: rgb(255, 152, 34); } 
input.star-2:checked ~ label.star:before { color: rgb(255, 168, 27); } 
label.star:hover { transform: rotate(-15deg) scale(1.3); }
label.star:before {
    content: '\f006' none;
    color: rgba(255, 139, 24, 0.39);
}
/* img */
.square {
	width: 100%;
    display: flex;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.25s;
    cursor: pointer;
}

.image {
	width: 100%;
    height: 100%;
    border-radius: 4px;
    margin: 10px 10px;
    overflow: hidden;
}
.image:hover img{
    transform: scale(1.1);
}
/* btn-cute */
.button-cute{
    margin-top: 15px;
}
.comment-time{
    float: right;
    opacity: 0.6;
    font-style: italic;
}

/* modal */
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
.modal-header, .modal-body {
    padding: 40px 50px;
}